body {
    background-color: rgb(75, 116, 102);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#container {
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: inline-start;
}

.box {
    color: rgb(100, 122, 168);
    background-color: rgb(83, 85, 63);
}

#student-info {
    padding: 2em;
    background-color: rgb(84, 66, 148, 220);
}

#data-input {
    margin: 100px 30px;
    border: 1px solid rgb(173, 81, 109);
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: yellowgreen;
}

#headline-display {
    line-height: 40px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid rgb(158, 116, 37);
}

#data-output {
    padding: 0.5em;
    margin: 0 2em 0 0;
    background-color: yellow;
}

h1 {
    f
}